.pokeApiWrapper{
    margin: 0 64px;
}
.cardWrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.loader{
    margin-top: 30px;
    color: #d35400;
    display: flex;
    justify-content: center;
}
.loader img{
    max-width: 200px;
}

.title{
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}

.detailCard{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 6px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    background: #f6f6f6;
}

.imageContainer{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    box-sizing: border-box;

}

.imgItem{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #cbcbcb;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.textDetails{
    width: 60%;
    align-self: flex-start;
    
}

.dataItem{
    display: flex;
    margin-top: 20px;
}

.dataItemName{

}

.dataItemValues{
text-transform: capitalize;

}

.dataValue{

}


.searchContainer{
    margin-top: 30px;
    text-align: center;
}

.searchInput {
        width: 400px;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 18px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.searchInput::placeholder {
            color: rgba(87, 87, 86, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.searchInput:hover, .searchInput:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
        }

.errorState{
    margin-top: 30px;
    padding: 30px;
    color: #d35400;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .pokeApiWrapper{
        margin: 0 30px;
    }
    .searchInput{
        width: 200px;
    }
    .cardWrapper{
        margin : 40px 20px
    }
    .detailCard{
        flex-direction: column;
        padding: 10px;
    }
    .imageContainer{
        width: 100%;
        margin-bottom: 40px;
    }
    .textDetails{
        width: 100%;
    }
    .dataItem{
        display: block;
    }
  }