.header{
    font-size: 25px;
    color: white;
    padding: 24px 64px;
    background: #ba8620;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-weight: bolder;
}